
/* Footer  */

/* * {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */



.footer {
    background-color: #24262b;
    padding: 70px 0;
    font-family: 'Dosis', sans-serif;
}

.cont_footer {
    max-width: 1170px;
    margin: auto;
}
.row_footer {
    display: flex;
    flex-wrap: wrap;
}

.col_footer {
    width: 25%;
    padding: 0 15px;
}

.col_footer h4 {
    font-size: 18px;
    color:#ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.col_footer h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #5d85b7;
    box-sizing: border-box;
    height: 2px;
    width: 50px;
}
.col_footer ul {
    list-style: none;
}
.col_footer ul li:not(:last-child) {
    margin-bottom: 10px;
}
.col_footer ul li a {
    font-size: 16px;
    text-decoration: none;
    text-transform: capitalize;
    /* color: #ffffff; */
    font-weight: 300;
    display: block;
    color: #bbbbbb;
    transition: 0.3s;
}

.col_footer ul li a:hover {
    color:#ffffff;
    padding-left: 7px;
}

.col_footer ul li span {
    font-size: 9px;
    margin-left: 10px;
    text-transform: uppercase;
}
.col_footer .socail_footer a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px ;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.3s ease;
}

.col_footer .socail_footer a:hover {
    color: #24262b;
    background-color: #ffffff;
}

.col_footer .qouat_footer {
    margin-top: 30px;
    color:#ffffff ;
    font-size: 13px;
    font-weight: 100;
    letter-spacing: 1.8;
    line-height: 1.5;
    font-family: 'Dosis', sans-serif;
}

.col_footer .qouat_footer span {
    color: #26e5c2;
    font-size: x-large;
}

@media (max-width:767px) {
    .col_footer {
        width: 50%;
        margin-bottom: 30px;  
  }
}
@media (max-width:574px) {
    .col_footer {
        width: 100%;
  }
}

.footer-botoom {
    text-align: center;
    width: 99.5vw;
    padding: 10px 0;
    font-size: 13px;
    text-transform: capitalize;
    word-spacing: 5px;
    font-family: 'Dosis', sans-serif;
    background-color: #24262b;
    color: #ffffff;
}

.footer-botoom span {
    text-transform: uppercase;
    opacity: 2;
    font-weight: 700;
    font-size:smaller;
    font-family: 'Dosis', sans-serif;
    color: #348677;
}

/* End Footer  */

